{% extends "base.html" %}

{% block content %}
<h2>JIRA printable story generator</h2>
<p>Select the project/board and sprint to print your user stories.</p>
<div class="well">
    <form action="" method="post">
        <div class="form-group">
            <label for="project_id">Project</label>
            <select class="form-control" id="project_id" name="project_id">
                <option value="">-- Select a project --</option>
              {% if projects %}
                {% for p in projects %}
                    <option value="{{ p.id }}"
                        {% if p.id == project_id|int %} selected{% endif %}>
                      {{ p.name }}
                    </option>
                {% endfor %}
              {% endif %}
            </select>
        </div>
        {% if project_id %}
        <div class="form-group">
            <label for="sprint_id">Sprint</label>
            <select class="form-control" id="sprint_id" name="sprint_id">
                <option value="">-- Select a sprint --</option>
              {% if sprints %}
                {% for s in sprints %}
                    <option value="{{ s.id }}"{% if s.id == sprint_id %}
                            selected{% endif %}>
                      {{ s.name }}
                    </option>
                {% endfor %}
              {% endif %}
            </select>
        </div>
        <button type="submit" class="btn btn-default">Generate cards</button>
        {% endif %}
    </form>
</div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#project_id").onchange = function () {
            this.form.submit();
        };
    });
</script>
{% endblock %}
